# Python Crash Course

## Why Python?
There are several reasons why Python has become the most popular programming language, especially in the
scientific research community. First of all, the simplicity of its syntax allows developers to write compact
programs with fewer lines of code than the other programming languages. Pythonâ€™s syntax is similar to that
of the English language, thus enabling it to write clean code that is easy to read, understand and debug. For
instance, Python relies on indentation and whitespace to define the scope of loops, functions, and classes.
Other programming languages often use curly brackets for this purpose.
Finally, there is an incredible Python community. Plenty of useful guides, documentation, and libraries
exist for solving various problems and not always implementing everything from scratch.

## Python Key Features

Python is an interpreted language. This means that code can be executed as soon as it is written. In
contrast, many other programming languages are compiled and require an initial compilation phase that
produces an executable that can then be executed (e.g., Java and C).
Python can be treated in a procedural way. You can code either in a object-oriented or a functional
way. You can learn more about the differences between object-oriented and functional programming here.

# Variables and simple Data Types

Variables naming
You should be aware of some rules and guidelines when naming variables to make code easier to read and
understand and avoid errors.
- Variable names can only contain letters, numbers, and underscores. A variable name can start with a
letter or an underscore but not a number.
- Variable names cannot contain whitespaces. To separate words in variables, you can use underscores.
- Avoid using Python keywords for function and variable names (i.e., print, max, etc.)
- Use descriptive but compact variable names

# Introduction to Python

## 1. Getting Started with Python

### 1.1. Hello World

In [1]:
print("Hello, world!")

Hello, world!

## Variables and Data Types

In [2]:
# String
name = "Alice"
print(name, type(name))

# Integer
age = 25
print(age, type(age))

# Float
height = 5.9
print(height, type(height))

# Boolean
is_student = True
print(is_student, type(is_student))

Alice <class 'str'>
25 <class 'int'>
5.9 <class 'float'>
True <class 'bool'>

## Numbers
### Integers
An integer is a number without decimal digits. You can add (+), subtract (-), multiply (*), divide (/), and
exponentiate (**) integers in Python.

In [9]:
print (6 + 3)
print (6 - 3)
print (6 * 3)
print (6 / 3)
print (2 ** 3)
print ((2 + 3) * 2)
print (2 + 3 * 2)

9
3
18
2.0
8
10
8

### Floats
A float is a number with decimal digits. You can add (+), subtract (-), multiply (*), divide (/), and
exponentiate (**) floats in Python with the same operands as for integers.

In [11]:
print (6 + 0.5)
print (6 - 3.5)
print (6 * 0.1)
print (2 / 0.5)

6.5
2.5
0.6000000000000001
4.0

### Casting
The conversion from one data type into another is called type casting or type conversion in python. Python
supports a wide variety of functions or methods for type casting like int(), float(), str(), tuple(), set(),
list(), dict(), etc

In [12]:
print (int (3.14) )
print ( float (1) )

3
1.0

## Strings
A string is a sequence of characters and it is defined between quotes (single or double).

In [13]:
s1 = " this is a string "
s2 = " this is also a string "
print ( type ( s1 ) )
print ( type ( s2 ) )

<class 'str'>
<class 'str'>

There are many built-in methods for strings in Python. For instance, the lower() method puts all the
string characters in lowercase. In contrast, the upper() method puts all the string characters in uppercase.

In [14]:
s1 = " This is a String "
print ( s1 . lower () )
print ( s1 . upper () )

 this is a string
 THIS IS A STRING

## String concatenation
String concatenation can be performed with the + operator.

In [15]:
s1 = " This is a first string "
s2 = ", this is a second string "
s3 = s1 + s2
print ( s3 )

 This is a first string , this is a second string

## Basic Operations

### Arithmetic Operations

In [3]:
# Addition
print(5 + 3)

# Subtraction
print(10 - 4)

# Multiplication
print(7 * 6)

# Division
print(8 / 2)

# Floor Division
print(9 // 2)

# Modulus
print(9 % 2)

# Exponentiation
print(2 ** 3)

8
6
42
4.0
4
1
8

### Comparison Operators

In [4]:
print(5 == 5)
print(5 != 3)
print(7 > 3)
print(4 < 8)
print(6 >= 6)
print(3 <= 2)

True
True
True
True
True
False

### Logical Operators

In [5]:
print(True and False)
print(True or False)
print(not True)

False
True
False

## Data Structures

### Lists
A list is an ordered collection of items. They are defined between square brackets [], and each individual
element is separated by commas. Lists can contain any kind of item (e.g., strings, integers, floats, etc.). Lists
are mutable

In [16]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

### Accessing list elements
You can access any element in a list by specifying the index (i.e., the position). You should write the index
of the element in square brackets. Remember that in Python, the collection indices starts from 0.

my_list = [" apple ", 2 , " banana ", 4]
print ( my_list [0])
print ( my_list [2])

### Modifying list elements
To modify an element of a list, you should assign a new value to that element by accessing the index of the
element that you want to modify.

In [17]:
my_list = [" apple ", 2 , " banana ", 4]
print ( my_list )
my_list [1] = 10
print ( my_list )

[' apple ', 2, ' banana ', 4]
[' apple ', 10, ' banana ', 4]

### Appending elements to the end of a list
You should use the append() method to add an element to the end of a list. The only parameter is the
value that you want to insert.

In [18]:
my_list = ["apple", 2 , "banana", 4]
print ( my_list )
my_list . append ("orange")
my_list . append ("3")
print ( my_list )

[' apple ', 2, ' banana ', 4]
[' apple ', 2, ' banana ', 4, ' orange ', '3']

This method makes it easy to build lists dynamically

In [24]:
my_list = []
print (my_list)
my_list.append ("apple")
my_list.append ("2")
my_list.append ("banana")
my_list.append ("4")
print (my_list)

[]
['apple', '2', 'banana', '4']

### Inserting elements into a list
You should use the insert() method to add an element to a list. It takes two parameters: the index of the
new element and the value.

In [25]:
my_list = ["apple", 2, "banana", 4]
print (my_list)
my_list.insert(0 , "orange")
print (my_list)

['apple', 2, 'banana', 4]
['orange', 'apple', 2, 'banana', 4]

### Removing elements from a list
You have three options to remove elements from a list:
1. Del statement. You can remove the item in a particular index from a list using the del statement.
However, after the removal, you can no longer access the value that was removed.

In [26]:
my_list = ["apple", 2, "banana", 4]
print (my_list)
del my_list[2]
print (my_list)

['apple', 2, 'banana', 4]
['apple', 2, 4]

2. Pop method. The pop() method removes the item in the index provided as a parameter from a list and
returns its value. In this case, you can access the value of the removed item. If you donâ€™t specify an index,
the last item will be removed.

In [27]:
my_list = ["apple", 2 , "banana", 4, "orange", 3]
print (my_list)
removed_item_1 = my_list.pop()
print (my_list)
removed_item_2 = my_list.pop(2)
print (my_list)
print ("First item removed :", removed_item_1)
print ("Second item removed :", removed_item_2)

['apple', 2, 'banana', 4, 'orange', 3]
['apple', 2, 'banana', 4, 'orange']
['apple', 2, 4, 'orange']
First item removed : 3
Second item removed : banana

3. Remove method. You can remove an item by value with the remove() method. It will remove only the
first occurrence of the value specified as parameter.

In [28]:
my_list = ["apple", 2, "banana", 4, "banana", 2]
print (my_list)
my_list.remove("banana")
print (my_list)
my_list.remove(4)
print (my_list)

['apple', 2, 'banana', 4, 'banana', 2]
['apple', 2, 4, 'banana', 2]
['apple', 2, 'banana', 2]

### Number of elements of a list
You can find the number of elements in a list using the len() function.

In [30]:
my_list = ["apple", 2, "banana", 4, "orange", 3]
print (len(my_list))

6

### Sorting elements of a list
To sort the elements of a list, you can use either the sort() method or the sorted() function. The difference
is that the sort() method is applied in place (i.e., orders the elements of the list and saves directly in the
list itself). In contrast, the sorted() function returns a sorted list, but the values of the original list are
unchanged.

In [31]:
my_list = [2 , 1, 4, 5, 3]
print ( my_list )
my_list . sort ()
print ( my_list )

[2, 1, 4, 5, 3]
[1, 2, 3, 4, 5]

In [32]:
my_list = [2 , 1, 4, 5, 3]
print ( my_list )
my_sorted_list = sorted ( my_list )
print (" my_sorted_list :", my_sorted_list )
print (" my_list :", my_list )

[2, 1, 4, 5, 3]
 my_sorted_list : [1, 2, 3, 4, 5]
 my_list : [2, 1, 4, 5, 3]

### Slicing a list
You can access sublists (as for substrings or tuples) by specifying the start (included) and stop (excluded)
indices with the following syntax [start:stop]. You can omit the start or the stop indices to start from
the beginning or go until the end, respectively. Remember that in python, the starting position is 0.

In [34]:
my_list = [1 , 2, 3, 4, 5]
print (my_list)
print (my_list[:3]) # From the beginning until the fourth ( excluded )
print (my_list [3:]) # From the fourth until the end
print (my_list [1:3]) # From the second until the fourth ( excluded )

[1, 2, 3, 4, 5]
[1, 2, 3]
[4, 5]
[2, 3]

### Statistics for list of numbers
You can also compute simple statistics to list of numbers using, for example, the max(), min(), and sum()
functions:

In [35]:
my_list = [1 , 2, 3, 4]
print (max( my_list ))
print (min( my_list ))
print (sum( my_list ))

4
1
10

## Loops
If you want to perform actions through all items in a sequence, you can use for loops. In this way, you can
automate repetitive tasks. You should use the keyword for and indent the block that you want to reapeat
with a \tab. This example iterates over the entire loop and prints the value of each item:

### Iterating over a list

In [36]:
# Iterating over a list of strings
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

### Iterating over a range

In [37]:
# Using range to iterate over a sequence of numbers
for i in range(1, 6):
    print(i)

1
2
3
4
5

### Iterating over a dictionary

In [38]:
# Iterating over dictionary items
person = {"name": "Alice", "age": 25, "city": "New York"}
for key, value in person.items():
    print(f"{key}: {value}")

name: Alice
age: 25
city: New York

### Nested loops

In [39]:
# Using nested for loops to iterate over a matrix
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for row in matrix:
    for element in row:
        print(element, end=" ")
    print()

1 2 3
4 5 6
7 8 9

### Simple while loop

In [40]:
# Counting down from 5
count = 5
while count > 0:
    print(count)
    count -= 1

5
4
3
2
1

### Using Break in while loop

In [41]:
# Breaking out of a while loop
count = 0
while True:
    print(count)
    count += 1
    if count == 5:
        break

0
1
2
3
4

### Using continue in while loop

In [42]:
# Using continue to skip an iteration
count = 0
while count < 10:
    count += 1
    if count % 2 == 0:
        continue
    print(count)

1
3
5
7
9

### For loop with else

In [43]:
# Using else with a for loop
for i in range(5):
    print(i)
else:
    print("Loop completed successfully")

0
1
2
3
4
Loop completed successfully

### While loop with else

In [44]:
# Using else with a while loop
count = 0
while count < 5:
    print(count)
    count += 1
else:
    print("Loop completed successfully")

0
1
2
3
4
Loop completed successfully

### Loop over a string

In [45]:
# Iterating over characters in a string
word = "Python"
for char in word:
    print(char)

P
y
t
h
o
n

### Using Enumerate in a For Loop

In [46]:
# Using enumerate to get index and value
fruits = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

### Using Zip in a For Loop

In [47]:
# Iterating over two lists simultaneously
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]
for name, age in zip(names, ages):
    print(f"{name} is {age} years old")

Alice is 25 years old
Bob is 30 years old
Charlie is 35 years old

## List comprehensions

List comprehensions can be used to combine lists and loops and write compact code. This example shows
the code to compute the square of each element of a list:

### Example: Squaring Numbers in a List
#### Traditional For Loop Approach

In [48]:
# Using a traditional for loop to create a list of squares
numbers = [1, 2, 3, 4, 5]
squares = []
for number in numbers:
    squares.append(number ** 2)
print(squares)

[1, 4, 9, 16, 25]

#### List Comprehension Approach

In [49]:
# Using list comprehension to create a list of squares
numbers = [1, 2, 3, 4, 5]
squares = [number ** 2 for number in numbers]
print(squares)

[1, 4, 9, 16, 25]

The list comprehension [number ** 2 for number in numbers] creates a new list by iterating over each number in the numbers list and applying the expression number ** 2.
This approach is more concise and often more readable than using a traditional for loop with append.

#  Conditional statements
To run code blocks based on some conditions, you can use the if/else/elif statements.

In [50]:
# Example of a conditional statement to determine letter grade
score = 85

if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else:
    grade = 'F'

print(f"The grade for a score of {score} is {grade}.")

The grade for a score of 85 is B.

In [51]:
# Example of a conditional statement to determine if a year is a leap year
year = 2024

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    is_leap_year = True
else:
    is_leap_year = False

if is_leap_year:
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

2024 is a leap year.

In [53]:
my_list = ["apple " , " banana " , " Apple " , " Banana " , " APPLE "]
for el in my_list :
    if el == " apple ": # First condition cheked . If True is run this code
        print ("I found an apple ")
    elif el == " banana ": # If the first condition is not True , the second condition is checked . If True is run this code
        print ("I found a banana " )
    else : # If both conditions are False
        print (" Not an apple or banana ")

 Not an apple or banana
I found a banana
 Not an apple or banana
 Not an apple or banana
 Not an apple or banana

String equality is case-sensitive. If you want to ignore the case while checking for equality or inequality,
you should use the lower() function

In [54]:
my_list = [" apple " , " banana " , " Apple " , " Banana " , " APPLE "]
for el in my_list :
    if el . lower () == " apple ": # the lower () method puts all characters in lowercase
        print ("I found an apple ")
    elif el . lower () == " banana ": # the lower () method puts all characters in lowercase
        print ("I found a banana ")
    else :
        print (" Not an apple or banana ")

I found an apple
I found a banana
I found an apple
I found a banana
I found an apple

### Check if a list contains an item
You can check if the list contains a particular item with the in operan

In [55]:
my_list = [" apple ", " banana ", " orange ", " banana ", " apple "]
if " apple " in my_list :
    print (" apple in the list ")
else :
    print (" apple not in the list ")

 apple in the list

If you want to check if a value is not present in the list, you can negate the in operand.

In [56]:
my_list = [" apple ", " banana ", " orange ", " banana ", " apple "]
if " car " not in my_list :
    print (" car in the list ")
else :
    print (" car not in the list ")

 car in the list

## Dictionary
A Python dictionary is a collection of key-value pairs. Each key-value pair maps the key to its associated value. Dictionaries are mutable, meaning they can be changed after creation, and they are unordered, meaning that the items do not have a defined order. They are also indexed, allowing for fast retrieval of values based on their keys.

Key Characteristics:
- Keys: Must be unique and immutable (e.g., strings, numbers, tuples).
- Values: Can be of any data type and can be duplicated.
- Syntax: Defined using curly braces {} with key-value pairs separated by colons : and pairs separated by commas ,.

### Examples of Python Dictionaries
#### Creating a Dictionary

In [57]:
# Creating a dictionary
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

#### Accessing values

In [58]:
# Accessing values by keys
name = person["name"]
print(f"Name: {name}")

# Using the get method to access values
age = person.get("age")
print(f"Age: {age}")

Name: Alice
Age: 25

#### Adding or Updating Entries

In [59]:
# Adding a new key-value pair
person["email"] = "alice@example.com"
print(person)

# Updating an existing value
person["age"] = 26
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'email': 'alice@example.com'}
{'name': 'Alice', 'age': 26, 'city': 'New York', 'email': 'alice@example.com'}

#### Removing entries

In [60]:
# Removing a key-value pair using del
del person["city"]
print(person)

# Removing a key-value pair using pop
email = person.pop("email")
print(person)
print(f"Removed email: {email}")

{'name': 'Alice', 'age': 26, 'email': 'alice@example.com'}
{'name': 'Alice', 'age': 26}
Removed email: alice@example.com

#### Iterating over a dictionary

In [61]:
# Iterating over keys
for key in person:
    print(f"Key: {key}")

# Iterating over values
for value in person.values():
    print(f"Value: {value}")

# Iterating over key-value pairs
for key, value in person.items():
    print(f"{key}: {value}")

Key: name
Key: age
Value: Alice
Value: 26
name: Alice
age: 26

#### Checking for keys

In [62]:
# Checking if a key exists in a dictionary
if "name" in person:
    print("The key 'name' exists in the dictionary.")

if "address" not in person:
    print("The key 'address' does not exist in the dictionary.")

The key 'name' exists in the dictionary.
The key 'address' does not exist in the dictionary.

#### Dictionary Comprehensions

In [63]:
# Creating a dictionary using dictionary comprehension
squares = {x: x ** 2 for x in range(1, 6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

#### Practical Example: Word Count

In [64]:
# Counting the frequency of each word in a sentence
sentence = "the quick brown fox jumps over the lazy dog the quick brown fox"
words = sentence.split()
word_count = {}

for word in words:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

print(word_count)

{'the': 3, 'quick': 2, 'brown': 2, 'fox': 2, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog': 1}

### Dictionary recap
- Creating a Dictionary: The person dictionary contains information about a person with keys like "name", "age", and "city".
- Accessing Values: You can access values using keys, either directly or with the get method.
- Adding or Updating Entries: New key-value pairs can be added, and existing values can be updated.
- Removing Entries: Key-value pairs can be removed using del or pop.
- Iterating Over a Dictionary: You can iterate over keys, values, or key-value pairs using loops.
- Checking for Keys: You can check if a key exists in the dictionary.
- Dictionary Comprehensions: A concise way to create dictionaries.
- Word Count Example: A practical example demonstrating how to count word frequencies in a sentence using a dictionary.

## Booleans
A Boolean expression is just another name for a conditional test. A Boolean value is either True or False.
As in one previous example, you want to check if the list contains a particular item with the in operand.
However, you want to create a boolean with the value True is the item is in the list, False otherwise

In [66]:
my_list = [" apple ", " banana ", " orange ", " banana ", " apple "]
if " apple " in my_list :
    my_flag = True
else :
    my_flag = False
print ( my_flag )

True

## Functions
Functions are useful to avoid repetitive code.
### Function definition and invocation (call)
A function is defined with the def keyword, followed by the name of the function, the parameters between
round brackets, and a column.

In [67]:
def my_print_fn (x) : # function definition
    print (x)
    return # return statement

my_print_fn ("hello") # function call
my_print_fn (10)

 hello
10

### Returning multiple values
A function can return multiple values. In this example, the function takes two parameters in input and
returns their sum and difference.

In [68]:
def my_print_fn (x , y) : # function definition
    my_sum = x + y
    my_diff = x - y
    return my_sum , my_diff # return statement

my_sum , my_diff = my_print_fn (10 , 5) # function call
print (my_sum)
print (my_diff)

15
5

### Example: Function to Calculate the Factorial of a Number
#### Defining the Function

In [69]:
def factorial(n):
    """
    Calculate the factorial of a given number.

    Parameters:
    n (int): The number to calculate the factorial of.

    Returns:
    int: The factorial of the given number.
    """
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

- Function Name: factorial
- Parameter: n (the number for which the factorial is to be calculated)
- Docstring: A description of the function, including its parameters and return value.
- Base Case: If n is 0, the function returns 1 (the factorial of 0 is 1).
- Recursive Case: The function calls itself with n - 1 and multiplies the result by n.

Using the Function

In [70]:
# Calculate the factorial of 5
result = factorial(5)
print(f"The factorial of 5 is {result}")

# Calculate the factorial of 7
result = factorial(7)
print(f"The factorial of 7 is {result}")

The factorial of 5 is 120
The factorial of 7 is 5040

### Example: Function to Check if a Number is Prime

In [71]:
def is_prime(number):
    """
    Check if a number is prime.

    Parameters:
    number (int): The number to check.

    Returns:
    bool: True if the number is prime, False otherwise.
    """
    if number <= 1:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True

# Check if numbers are prime
print(is_prime(11))  # True
print(is_prime(14))  # False

True
False

#### Example: Function to Calculate the Sum of a List

In [72]:
def sum_list(numbers):
    """
    Calculate the sum of a list of numbers.

    Parameters:
    numbers (list): A list of numbers to sum.

    Returns:
    int or float: The sum of the numbers in the list.
    """
    total = 0
    for number in numbers:
        total += number
    return total

# Calculate the sum of a list of numbers
print(sum_list([1, 2, 3, 4, 5]))  # 15
print(sum_list([10, 20, 30]))     # 60

15
60